<launch>
    <param name="/use_sim_time" value="true"/>

    <arg name="gt_dir" default=""/>
    <arg name="bag_dir" default=""/>
    <arg name="play_bag_rate" default="100"/>
    <arg name="rack_distance" default="0.0"/>

    <rosparam file="$(arg gt_dir)"/>

    <node pkg="pose_analysis" type="pose_analysis_node" name="pose_analysis" output="screen">
        <rosparam file="$(find pose_analysis)/config/pose_analysis.yaml"/>
        <param name="rack_distance" value="$(arg rack_distance)"/>
    </node>
    <node pkg="pose_analysis" type="pose_error_analysis.py" name="pose_error_visualizer"/>

    <node pkg="rosbag" type="play" name="bag_player" args="--clock -r $(arg play_bag_rate) $(arg bag_dir)">
        <remap from="/locator/rack_pose" to="/pose"/>
    </node>
</launch>